{% extends 'base.html.twig' %}

{% block title %}Edit Annonce{% endblock %}

{% block body %}
    <h1>Edit Annonce</h1>

    {{ include('createannonce/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('createannonce_index') }}">back to list</a>

    {{ include('createannonce/_delete_form.html.twig') }}
{% endblock %}
