{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}

<div class="container">


    <h1>Créez votre annonce</h1>

    {{ include('createannonce/_form.html.twig') }}


    </div>
{% endblock %}
